/* item-list.component.css */

.item-list-container {
  font-family: 'Arial', sans-serif;
  background-color: #FFF;
  color: #FFFFFF;
  padding: 20px;
}

.interal-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h2 {
  color: #001F3F;
}

.item-list {
  list-style-type: none;
  padding: 0;
}

.item {
  margin-bottom: 10px;
  background-color: #001F3F;
  padding: 10px;
  border-radius: 5px;
}

.item-description,
.item-category,
.item-value,
.item-payment-type {
  margin-right: 10px;
}


label {
  display: block;
  margin-bottom: 5px;
}

select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 10px;
}

.name-filter{
  color: #001F3F;
}

.delete-button {
  background-color: #E74C3C;
  color: #FFFFFF;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 3px;
}

.delete-button:hover {
  background-color: #C0392B;
}

.create-item-link {
  display: block;
  color: #C0392B;
  margin-top: 10px;
  text-decoration: none;
  font-size: 16px;
}

.create-item-link:hover {
  color: #FFFFFF;
}
